/*
 * bg: #282828
 * gray: #928374
 * dred: #cc241d
 * red: #fb4934
 * dgreen: #98971a
 * green: #b8bb26
 * dyellow: #d79921
 * yellow: #fabd2f
 * dblue: #458588
 * blue: #83a598
 * dpurple: #b16286
 * purple: #d3869b
 * daqua: #689d6a
 * aqua: #8ec07c
 * lgray: #a89984
 * fg: #ebdbb2
 */
* {
    border: none;
    border-radius: 0px;
    font-family: "FiraCode Nerd Font", "Fira Code", monospace;
    font-size: 14px;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #a89984;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active, button.focused {
    background-color: #1d2021;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #458588;
}

#mode {
    background-color: #458588;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#language {
    padding: 5px 10px;
    margin: 6px 1px;
    color: #282828;
    background-color: #98971a;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #9580ff; */
}

#battery {
    /* background-color: #9580ff; */
}

#battery.charging, #battery.plugged {
    background-color: #98971a;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

/* #cpu {
    background-color: #2ecc71;
    color: #000000;
} */

#memory {
    /* background-color: #9580ff; */
}

/* #disk {
    background-color: #964B00;
} */

#backlight {
    /* background-color: #9580ff; */
}

#network {
    /* background-color: #9580ff; */
}

#network.disconnected {
    background-color: #cc241d;
}

#pulseaudio {
    /* background-color: #9580ff;
    color: #333333; */
}

#pulseaudio.muted {
    background-color: #928374;
    color: #ebdbb2;
}

#wireplumber {
    background-color: #b16286;
    color: #ebdbb2;
}

#wireplumber.muted {
    background-color: #928374;
}

/* #custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
} */

/*#temperature {
    background-color: #9580ff;
}*/

#temperature.critical {
    background-color: #fb4934;
}

#tray {
    background-color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #cc241d;
}

#idle_inhibitor {
    /* background-color: #9580ff; */
}

#idle_inhibitor.activated {
    background-color: #458588;
}

#mpd {
    /* background-color: #9580ff; */
    /* color: #2a5c45; */
}

#mpd.disconnected {
    background-color: #cc241d;
    color: #ffffff;
}

#mpd.stopped {
    background-color: #a89984;
}

#mpd.paused {
    background-color: #d79921;
}

#language {
    min-width: 60px;
}

/* #keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
} */

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
